    <section id="title">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1>Editing entry</h1>
          </div>
        </div>
      </div>
    </section>

	<section id="body">
	 	<div class="container">
			<%= render 'form' %>

			<%= link_to 'Show', @entry, :class => "btn btn-warning" %> |
			<%= link_to 'Back', entries_path, :class => "btn btn-warning" %>
		</div>
	</section>

	<section id="footer">
		<div class="container navbar-fixed-bottom">
		  <div class="panel panel-success">         
		    <div class="panel-heading">
		      <h3 class="panel-title" align="center"> Desarrollado por Esteban Gaete Flores </h3>
		    </div>
		  </div>
		</div>
	</section>