    <section id="title" class="shinyOrange">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1>Editing expositor</h1>
          </div>
        </div>
      </div>
    </section>

	<section id="body" class="officialGrey">
        <div class="container allWhite">
            <br>
			<%= render 'form' %>

			<%= link_to 'Show', @expositor, :class => "btn btn-warning" %> |
			<%= link_to 'Back', create_expositor_path(@expositor.publicacion), :class => "btn btn-warning" %>
            <br><br>
		</div>
	</section>

	<section id="footer" class="officialGrey">
		<div class="container">
		  <div class="panel panel-success">         
		    <div class="panel-heading">
		      <h3 class="panel-title" align="center"> Desarrollado por Esteban Gaete Flores </h3>
		    </div>
		  </div>
		</div>
	</section>