		<section id="title">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1>Charla: "Wisdom of Crowds or Wisdom of Few"</h1>
						<p>Ricardo Baeza-Yates</p>
					</div>
					<div class="col-md-6">
						<p class="pull-right">Fecha: 04-09-2014</p>
					</div>
				</div>
			</div>
		</section>

		<section id="body">
			<div class="container">
				<h2>Wisdom of Crowds</h2>

				<p>La web se auto-asimia y se auto-organiza, además es diferente para cada uno.</p>
				<p>Serendipity: Hallasgo afortunado de algo cuando se buscaba otra cosa.</p>

				<p><i>"Bajo las correctas circunstancias, los grupos son muy inteligentes"</i>. Conocimiento en grupo es mejor que conocimiento individual.</p>

				<p>Crowds:</p>
				<ul>
					<li>Popularity</li>
					<li>Long and Heavy Tail:</li>
					<ul>
						<li>Diversity</li>
						<li>Duality</li>
						<li>Coverage</li>
					</ul>
				</ul>

				<h2>Wisdom of Few</h2>

				<p>El 5% de los usuarios de facebook representan la gran mayoria de publicaciones de este. Bajo este mismo concepto la minoría de twitter y de wikipedia dominan hasta el 50% del contenido en sus páginas respectivas. <br>
					Falta mayor variedad y métodos de busquedas avanzados para el usuario.</p>
			</div>
		</section>

		<section id="footer">
			<div class="container navbar-fixed-bottom">
				<div class="panel panel-success">
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-3">
							</div>
							<div class="col-md-3">
							</div>
							<div class="col-md-3">
								<a class="pull-left" href="#top"> Volver Arriba <span class="glyphicon glyphicon-arrow-up"></span></a>
							</div>
							<div class="col-md-3">
							</div>
						</div>
					</div>
					<div class="panel-heading">
						<h3 class="panel-title" align="center"> Desarrollado por Esteban Gaete Flores </h3>
					</div>
				</div>
			</div>
		</section>