		<section id="title">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1>Comportamiento Humano en el Trabajo</h1>
						<p>Eliana Covarrubias</p>
					</div>
					<div class="col-md-6">
						<p class="pull-right">Fecha: 29-08-2014</p>
					</div>
				</div>
			</div>
		</section>

		<section id="body">
			<div class="container">
				<h2>Clase 4 - La Organización Creadora de Conocimiento: cápitulo 3</h2>

				<h3>Entrega del conocimieneto</h3>

				<p>De <b>tácito a explícito</b>: se recurre a un manual.<br>
					De <b>explícito a explícito</b>: se usa material explicito para generar planes explícitos. <br>
					Interiorización/Internalización - De <b>explícito a tácito</b>: Lo explícito genera experiencia real.</p>

				<p> <%= image_tag('cht/cht_c1_1.png', :class => 'img-responsive img-thumbnail') %> </p>

				<p><b>Ontológia:</b> Como se agranda el conocimiento a partir del <i>ser</i>.</p>

				<h3>Condiciones de Facilitación de conocimiento:</h3>
				<ul>
					<li>Intención: Aspiración de la empresa para alcanzar sus metas.</li>
					<li>Autonomía: Cuándo una persona es libre de acción en una empresa realiza descubrimientos o innovación. Autopoyesis.</li>
					<li>Fluctación/Caos Creativo: Orden sin precedencia. El caos del ambiente permite oportunidades para que los miembros de la organización refleccionen sobre soluciones.</li>
					<li>Redundancia: el conocimiento se comparte por lo que diferentes miembros pueden realizar la actividad de otros.</li>
					<li>Variedad de Requisitos: diversidad interna variable para poder desarrollarse en diferentes ambientes.</li>
				</ul>

				<h3>Fases del proceso de creación de conocimiento (PCC)</h3>

				<ul>
					<li>Compartir el conocimiento tácito: se comparte el conocimiento interno. <i>Socialización</i></li>
					<li>Creación de conceptos: El conocimiento se vuelve explícito. <i>Exteriorización</i></li>
					<li>Justificar el conocimiento: Se determina si se fundamento el desarrollo del nuevo conceptos.<i>Exteriorización</i></li>
					<li>Construye un arquetipo: Se crea un prototipo.<i>Combinación</i></li>
					<li>Distribuye el conocimiento: Sistema abierta, comparte el conocimiento con el exterior.<i>Combinación</i></li>
				</ul>

				<p> <%= image_tag('cht/cht_c1_2.png', :class => 'img-responsive img-thumbnail') %> </p>

			</div>
		</section>

		<section id="footer">
			<div class="container">
				<div class="panel panel-success">
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-3">
							</div>
							<div class="col-md-3">
								<%= link_to "Comportamiento Humano en el Trabajo", apuntes_cht_path, :class => "pull-right" %>
							</div>
							<div class="col-md-3">
								<a class="pull-left" href="#top"> Volver Arriba <span class="glyphicon glyphicon-arrow-up"></span></a>
							</div>
							<div class="col-md-3">
							</div>
						</div>
					</div>
					<div class="panel-heading">
						<h3 class="panel-title" align="center"> Desarrollado por Esteban Gaete Flores </h3>
					</div>
				</div>
			</div>
		</section>