        <section id="title" class="shinyOrange">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="hidden-xs"> 
                            <div class="col-md-4">
                                <%= image_tag('estilo/header_2.png', :class => 'header-title') %>   
                            </div>
                            <div class="col-md-8">
                                <h1 class="title-contacto">Contacto</h1>      
                            </div>
                        </div>
                        <div class="hidden-sm hidden-md hidden-lg">
                            <h1>Contacto</h1>
                        </div>
                    </div>
                    <div id="fecha" class="col-md-6">
                        <p class="pull-right hidden-print"><kbd>42</kbd></p>
                    </div>
                </div>
            </div>
        </section>

        <section id="body" class="officialGrey back-image">
            <div class="container allWhite">
                <div class="row">
                    <div id="contenido" class="col-md-12" role="main">
                        <h3>E-mail <small>¡Respuestas en 24hrs!</small></h3>
                        <p>
                            <ul>
                                <li><a href="mailto:esteban.gaete@usach.cl">esteban.gaete@usach.cl</a></li>
                            </ul>
                        </p>
                        <h3>Páginas relacionadas</h3>
                        <p>
                            <ul>
                                <li><a href="http://www.estebangaete.cl" target="_blank">Página central del Creador</a></li>
                                <li><a href="http://salasusach.herokuapp.com/" target="_blank">Salas Usach por Felipe Garay</a></li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="footer" class="officialGrey">
            <div class="container">
                <div class="panel panel-success hidden-print">
                    <div class="panel-heading">
                        <h3 class="panel-title" align="center"> Desarrollado por Esteban Gaete Flores </h3>
                    </div>
                </div>
                <p class="visible-print-block">
                    ~ Desarrollodo por Esteban Gaete Flores ~
                </p>
            </div>
        </section>