		<section id="title" class="shinyOrange">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1>Sitio en Construcción y Mantenimiento</h1>
						<p>Razón: Término del segundo semestre del año 2014</p>
					</div>
				</div>
			</div>
		</section>

		<section id="body" class="officialGrey">
			<div class="container allWhite">
				<h2>Mejoras:</h2>

				<ul>
					<li>Colores más bonitos y Usachinos</li>
					<li>Mejor organización de los apuntes para tener un acceso más directo y claro.</li>
					<li>Indices, descargas y guías del material más significativo.</li>
					<li>Y una que otra cosa más (aparte de todas las mejoras en back-end)</li>
				</ul>
			</div>
		</section>

		<section id="footer">
			<div class="container navbar-fixed-bottom">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title" align="center"> Desarrollado por Esteban Gaete Flores </h3>
					</div>
				</div>
			</div>
		</section>