		<section id="title">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1>Interacción Humano Computador</h1>
						<p>Edmundo Pablo Leiva Lobos</p>
					</div>
					<div class="col-md-6">
						<p class="pull-right">Fecha: 20-08-2014</p>
					</div>
				</div>
			</div>
		</section>
			
		<section id="body">
			<div class="container">

			</div>
		</section>