		<section id="title">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1><%= t('ramos.ihc') %></h1>
						<p><%= t('profe.ihc') %></p>
					</div>
					<div class="col-md-6">
						<p class="pull-right">Fecha: 01-09-2014</p>
					</div>
				</div>
			</div>
		</section>

		<section id="body">
			<div class="container">
				<h2>Clase 3 - Diseño de la Presentación Según la Gestalt</h2>

				<p><b>Gestalt:</b>Escuela de la psicología para percibir bien las formas <br>
					La Gestalt considera la Forma, Figura, Configuración y Creación.</p>

				<p>Percepción: Es el proceso en el cual se organizan y intereaccionan las sensaciones.</p>

				<p><i>"El todo es más que la suma de sus partes"</i></p>

				<h3>Leyes de la Gestalt</h3>

				<ol>
					<li>Principio Proximidad: Cuando los objetos están muy cerca de si tienen a formar un grupo para el observador. Estas formas pueden representar figuras geometricas.</li>
					<li>Principio Semejanza: Elementos similares tienden a reconocerse como parte de un todo, como parte de sistema, diferente de otro.</li>
					<li>Principio Simetría: Aquellos elementos simetricos son más visibles que los asimétricos.</li>
					<li>
						Principio Buena Continuación: La continuación de elementos separados puede crear la ilusión de que son un objeto más grande, dificultando ver cada item por separado. Esto se logra mediante suaves contornos.
						<ul>
							<li>Principio Clausura o Cierra: Tendencia a encerrar formas o completar entornos, viendo figuras en espacios vacios.</li>
						</ul>
					</li>
					<li>
						Principio Figura - Fondo: Se destaca lo importante mediante el uso correcto de colores, brillos, contrastes, tamaños, etc.
						<ul>
							<li>Principio Rodear: Cuando figura y fondo comparten limites, cada una creando diferentes formas ya que se rodean mutuamente.</li>
							<li>Principio Área/Pequeño: Un área más pequeña sobresale de una más grande.</li>
						</ul>
					</li>
					<li>Principio de Pregnancia o equilibrio: Es una mescla de todos los anteriores. Las personas prefieren figuras claras, simétricas y armónicas. Se tiende a la Simplicidad.</li>
				</ol>

				<h3>Aplicación de la Gestalt en GUI (Graphic User Interface)</h3>

				<p>Libera carga cognitiva del usuario. <br>
					El diseño no es accidental, por lo que puede planearse correctamente con la Gestalt</p>

				<p>Una buena GUI es: </p>
				<ul>
					<li>Claridad en el proposito</li>
					<li>Enfasis en las partes importantes</li>
					<li>Diferenciar niveles de atención</li>
				</ul>

				<p>Se busca responder las siguientes preguntas al usar Gestalt: </p>
				<ul>
					<li>¿Dónde Estoy?</li>
					<li>¿Dónde está la información?</li>
					<li>¿Hacia dónde puedo ir desde acá?</li>
				</ul>

				<h3>Lista a considerar en el diseño de GUI</h3>

				<div class="row">
					<div class="col-md-6">
						<p><b>Textos y Contenidos</b></p>
						<ul>
							<li>Colores de Plano y fondo deben contener buen contraste (figura-fondo)</li>
							<li>Letras y tipografías claras y formadas (figura-fondo)</li>
							<li>El buen espaciado entre letras facilita la claridad (figura-fondo)</li>
							<li>Los términos importantes y frases serán resaltados o subrayados, diferenciados por el color, diferenciados por las fuentes o diferenciados por el tamaño (similitud)</li>
							<li>Si existe movimientos o llamados de atención de un modo animado, estos debe ser por un período corto de tiempo (similitud)</li>
							<li>Información complementaria, explicataiva o de ayuda, deben estar juntas o en grupos (proximidad)</li>
						</ul>
					</div>
					<div class="col-md-6">
						<p><b>Imágenes y Gráficos</b></p>
						<ul>
							<li>Las ilustraciones no deben ser ambiguas (figura-fondo)</li>
							<li>Los items o herramientas emparentadas deben estar juntos o agrupados (proximidad)</li>
							<li>Las ilustraciones o animaciones, deben contener información escrita o de audio adicional (fundamento de la Gestalt)</li>
							<li>Las animaciones utilizadas (como puede ser el caso de maerial e-learning) debe ser guiada y orientada (fundamentos de la Gestalt)</li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<section id="footer">
			<div class="container navbar-fixed-bottom">
				<div class="panel panel-success">
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-3">
								<%= link_to apuntes_ihc_ihc_c2_path, :class => "pull-left" do %>
									<span class="glyphicon glyphicon-arrow-left"></span> Clase 2 - Usabilidad a la Nielsen
								<% end %>
							</div>
							<div class="col-md-3">
								<%= link_to t('ramo.ihc'), apuntes_ihc_path, :class => "pull-right" %>
							</div>
							<div class="col-md-3">
								<a class="pull-left" href="#top"> Volver Arriba <span class="glyphicon glyphicon-arrow-up"></span></a>
							</div>
							<div class="col-md-3">
							</div>
						</div>
					</div>
					<div class="panel-heading">
						<h3 class="panel-title" align="center"> Desarrollado por Esteban Gaete Flores </h3>
					</div>
				</div>
			</div>
		</section>