		<section id="title">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1>Metodología Ágil - SCRUM</h1>
					</div>
					<div class="col-md-6">
					</div>
				</div>
			</div>
		</section>

		<section id="body">
			<div class="container">
				<h2>SCRUM Framework</h2>

				<p>Busca generar valor en el software generado. <br>
					Acepta cambios ya que funciona con iteraciones, obteniendo mucho feedback del cliente y el usuario.</p>

				<p>Los cambios deben ser establecidos antes de comenzar un sprint, ya que <b>durante un sprint no se aceptan cambios</b>.</p>

				<p>Roles:</p>
				<ul>
					<li>
						Comprometidos:
						<ul>
							<li>
								Product Owner: La voz del cliente. Define las funcionalidades del producto. Decide fechas y contenidos de cada release. Debe ser responsable de la rentabilidad del producto. Prioriza funcionalidades y las ajusta en cada iteración. Finalmente acepta o rechaza el trabajo del equipo. <b><i>Este proceso es iterativo</i></b>
							</li>
							<li>
								SCRUM Master: Facilita SCRUM, asegurando y guíando el proceso. Representa la gestión del proyecto. Responsable de que los valores de SCRUM se cumplan. Asegura que el equipo trabaja funcional y productivamente, además de incetivar la cooperación entre los diferentes roles. Es el escudo para interferencias externas.
							</li>
							<li>
								Team: responsables de crear el producto. Típicamente de 5 a 9 personas, cada uno de ellos es multi-funcional. Son auto-organizados y los roles solo deben cambiar antes de comenzar un nuevo sprint.
							</li>
						</ul>
					</li>
					<li>
						Involucrados:
						<ul>
							<li>
								Usuarios: quienes usarán el producto.
							</li>
							<li>
								Stakeholders: Aquellos que permiten que exista el proyecto, quienes ponene el dinero o deseean esto inicialmente. Puede ser el el product owner.
							</li>
							<li>
								Gerentes: Administradores de la organización que solicita el producto.
							</li>
						</ul>
					</li>
				</ul>

				<p>Reuniones: Todo el equipo participa</p>
				<ul>
					<li>
						Sprint Planning: Se seleccionan temas a partir del <b>Product Backlog</b>, los cuales intentarán cumplirse en el siguiente Sprint. <br>
						Se crea el Sprint Backlog dónde cada tarea a de ser entre 1 a 16 horas.

						<p> <%= image_tag('pingeso/sprint_backlog.png', :class => 'img-responsive img-thumbnail') %> </p>
					</li>
					<li>
						Sprint Review: 
					</li>
					<li>
						Sprint retrospective:
					</li>
					<li>
						Daily SCRUM meeting:
					</li>
				</ul>
				
			</div>
		</section>

		<section id="footer">
			<div class="container navbar-fixed-bottom">
				<div class="panel panel-success">
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-3">
								<!--
								<%= link_to CLASE_ANTERIOR_PATH, :class => "pull-left" do %>
									<span class="glyphicon glyphicon-arrow-left"></span> Clase X
								<% end %>
								-->
							</div>
							<div class="col-md-3">
							</div>
							<div class="col-md-3">
								<a class="pull-left" href="#top"> Volver Arriba <span class="glyphicon glyphicon-arrow-up"></span></a>
							</div>
							<div class="col-md-3">
								<!--
								<%= link_to CLASE_SIGUIENTE_PATH, :class => "pull-right" do %>
									Clase X <span class="glyphicon glyphicon-arrow-right"></span>
								<% end %>
								-->
							</div>
						</div>
					</div>
					<div class="panel-heading">
						<h3 class="panel-title" align="center"> Desarrollado por Esteban Gaete Flores </h3>
					</div>
				</div>
			</div>
		</section>