		<section id="title">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1>Proyect de Ingeniería de Software</h1>
						<p>profesor</p>
					</div>
					<div class="col-md-6">
						<p class="pull-right">Fecha: 28-08-2014</p>
					</div>
				</div>
			</div>
		</section>

		<section id="body">
			<div class="container">
				<h2>Clase 2 - Metodología RUP</h2> <small>Rational Unified Process</small>

				<p>La empresa <b>Rational</b> genero el Proceso Unificado (Unified Process)</p>

				<p>Elementos claves de la metodología</p>
				<ul>
					<li>Proceso -> Producto</li>
					<li>Busca aumentar la productividad permitiendo que todos los roles del grupo de trabajo tenga acceso
					a todo el material del proyecto.</li>
					<li>Utiliza UML</li>
					<li>Es un proceso configurable que puede cambiar según las necesidades particulares del proyecto</li>
					<li>
						Contempla las mejores practicas
						<ul>
							<li><a href="#DSI">Desarrollo de Software Iterativo</a></li>
							<li><a href="#GR">Gestión de Requerimientos</a></li>
							<li><a href="#ABC">Arquitectura basada en componentes</a></li>
							<li><a href="#VMS">Visualmente Modelar Software</a></li>
							<li><a href="#VCS">Verificar calidad del Software</a></li>
							<li><a href="#CCS">Controles de cambio de Software</a></li>
						</ul>
					</li>
				</ul>

				<h4 id="DSI">Desarrollo de Software Iterativo</h4>

				<p>Incrementa la comprensión con el Cliente ya que se produce mayor feedback. También incrementan las funcionalidades.</p>
				<p>Cada iteración debe entregar de resultado una entrega funcionable del proyecto.</p>

				<h4 id="GR">Gestión de Requerimientos</h4>

				<p>Se generan y organizan requerimientos con el cliente analisando los requerimientos originales del mismo.</p>
				<p>Al <b>organizar</b> los requerimientos se puede ver en que área actua cada uno y como dependen entre ellos.</p>

				<p>También se generan casos de uso y documentos de Arquitectura de Alto Nivel</p>

				<h4 id="ABC">Arquitectura Basada en Componentes</h4>

				<p>Es resistente y flexible, permite reutilización de componentes, es más entendible y permite una generación temprana</p>

				<h4 id="VMS">Visualmente Modelar Software</h4>

				<p>Mendiante UML se intentan modelar los sistemas de la organización que desea el proyecto.</p>

				<h4 id="VCS">Verificar Calidad del Software</h4>

				<p>Confiabilidad, funcionalidad, performance de la aplicación(arquitectura) y del sistema(Comunicación con otros sistemas).</p>

				<h4 id="CCS">Controles de Cambio de Software</h4>

				<p>Monitorear cambios, aceptar cambios, desarrollo iterativo, trabajo con todo el equipo para asegurar un buen cambio</p>

				<h3>Generalidades del proceso</h3>

				<ul>
					<li><a href="#incepcion">Incepción: Que es lo que se va a hacer.</a></li>
					<li><a href="#elaboracion">Elaboración: Analisis del proyecto.</a></li>
					<li><a href="#construccion">Construcción: Donde se crea el proyecto.</a></li>
					<li><a href="#transicion">Transición: Periodo de pruebas.</a></li>
				</ul>

				<p>Deployment: Pruebas de performance, pasar el sistema a un estado de producción.</p>

				<h4 id="incepcion">Incepción</h4>

				<p><b>Documento Global:</b> RFP, Anteproyecto. Corresponde a documentos con requerimientos o propuestas de desarrollo de proyectos.</p>
				<p><b>Casos de uso:</b> Mediante varias reuniones.</p>
				<p><b>Glosario:</b> Analista de funcionalidades.</p>
				<p><b>Caso de negocio Inicial y Riesgos:</b> Reuniones y planes de mitigación.</p>
				<p><b>Plan de proyecto:</b> Carta Gantt mediante el estudio de proyectos anteriores.</p>

				<h5>Resultados</h5>

				<p>Se define el Stakeholder, se define el costo y se planifica.</p>
				<p>Se comprenden los requerimientos</p>
				<p>Se analisan costos, riesgos y <b>primera desviación del proyecto</b></p>

				<h4 id="elaboracion">Elaboración</h4>

				<p>Mediante muchas muuchas reuniones se análisa el dominio del problema</p>
				<p>Se ven las bases arquitecturales: técnologías a usar y metodologías.</p>
				<p>Se documenta todo y se crea un esqueleto del software</p>
				<p>Se genera un plan de proyecto y de mitigación. (se negocia según los riegos)</p>
				<p>Se decide si se avanza a las siguientes dos etapas.</p>
				<p>Gestión de cambios y actualización de Documentos. Demanda mucho trabajo</p>

				<p>En esta fase es donde se contrata a toda la gente que trabajará en el proyecto, después del analisis de trabajo.</p>

				<h5>Resultados</h5>

				<p>Modelos de caso de uso a un 80%.</p>
				<p>Requerimientos No Funcionales: Restricciones según leyes o normativas, especificaciones técnicas.</p>
				<p>Documentos de Arquitectura de alto nivel.</p>
				<p>Debe considerar un prototipo funcional.</p>
				<p>Lista de riesgos, casos de negocios y plan de desarrollo del proyecto a un nivel grueso.</p>

				<h4 id="construccion">Construcción</h4>

				<p>Paraleliza actividades, se integran componentes, se divide la actividad en sprint o entregas parciales y se realizan pruebas unitarias (QA) para analizar los componentes.</p>


				<h4 id="transacion">Transición</h4>

				<p>Beta testing, operaciones en paralelo(nuevo con el viejo corriendo en paralelo), conversión de BD operacionales, entrenamiento de usuarios, puesta en producción.</p>

				<p>Para las operaciones en paralelo se debe hacer una transición de lo viejo a lo nuevo hasta que el nuevo tome todo el control.</p>

				<h3>Estructura estática del proceso</h3> <small>Roles</small>

				<p>Iterar permite generar mayor calidad debido a que en cada iteración se revisa el programa en su totaidad con test de regresión.</p>

				<p>Trabajor</p>
				<ul>
					<li>Comportamiento y responsabilidades.</li>
					<li>Análistas.</li>
					<li>Desarrolladores.</li>
					<li>Gestores/jefes.</li>
					<li>Apoyo.</li>
					<li>Especialistas en pruebas.</li>
					<li>Otros.</li>
				</ul>
				
				<p>Artefactos</p>
				<ul>
					<li>Modelos de Caso de Uso</li>
					<li>Documentos de arquitectura</li>
					<li>Código Fuente</li>
					<li>Ejecutables</li>
				</ul>


			</div>
		</section>

		<section id="footer">
			<div class="container">
				<div class="panel panel-success">
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-3">
								<%= link_to apuntes_pingeso_pingeso_c1_path, :class => "pull-left" do %>
									<span class="glyphicon glyphicon-arrow-left"></span> Clase 1 - Conceptos Importantes
								<% end %>
							</div>
							<div class="col-md-3">
								<%= link_to "Proyecto de Ingeniería de Software", apuntes_pingeso_path, :class => "pull-right" %>
							</div>
							<div class="col-md-3">
								<a class="pull-left" href="#top"> Volver Arriba <span class="glyphicon glyphicon-arrow-up"></span></a>
							</div>
							<div class="col-md-3">
							</div>
						</div>
					</div>
					<div class="panel-heading">
						<h3 class="panel-title" align="center"> Desarrollado por Esteban Gaete Flores </h3>
					</div>
				</div>
			</div>
		</section>