		<section id="title">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1>Proyecto de Ingeniería de Software</h1>
						<p>profesor</p>
					</div>
					<div class="col-md-6">
						<p class="pull-right">Fecha: 26-08-2014</p>
					</div>
				</div>
			</div>
		</section>

		<section id="body">
			<div class="container">
				<h2>Clase 1 - Conceptos Importantes</h2>

				<p><b>Timeboxing:</b> Tarea en un tiempo predeterminado. Tiempo corto.</p>
				<p><b>Ingeniería de Software:</b> Conjunto de herramientas, metodologías y conceptos. Es complejo (duh).</p>
				<p><b>Proyectos:</b> el resultado es único. Se realizan por Personas. Tienen recursos limitados. Se usa una estrategía. Tiene un marco temporal previamente establecido.<b>Agrega Valor y produce Cambios Beneficiosos.</b> </p>
				<p><b>Gestión de Proyectos:</b> Controlar, dirección, administrar y coordinar un proyecto. Conjunto de actividades únicas para realizar el proyecto. Solo se gestiona un proyecto si se saben las fechas y costos del proyecto, es decir, después de una evaluación de proyecto.</p>

				<p><b><i>Lo más importante de un proyecto es generar valor para el cliente.</i></b></p>

				<p>Un proyecto termina cuando se cumplen los objetivos previstos, en el plazo determinado y con los recursos estamados. <b>Además se debe considerar que ha generado Valor para el Cliente.</b></p>

				

			</div>
		</section>

		<section id="footer">
			<div class="container">
				<div class="panel panel-success">
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-3">
							</div>
							<div class="col-md-3">
								<%= link_to "Proyecto de Ingeniería de Software", apuntes_pingeso_path, :class => "pull-right" %>
							</div>
							<div class="col-md-3">
								<a class="pull-left" href="#top"> Volver Arriba <span class="glyphicon glyphicon-arrow-up"></span></a>
							</div>
							<div class="col-md-3">	
								<%= link_to apuntes_pingeso_pingeso_c2_path, :class => "pull-left" do %>
									<span class="glyphicon glyphicon-arrow-left"></span> Clase 2 - Metodología RUP
								<% end %>							
							</div>
						</div>
					</div>
					<div class="panel-heading">
						<h3 class="panel-title" align="center"> Desarrollado por Esteban Gaete Flores </h3>
					</div>
				</div>
			</div>
		</section>