		<section id="title">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1><%= t('ramos.sde') %></h1>
						<p><%= t('profe.sde') %></p>
					</div>
					<div class="col-md-6">
						<p class="pull-right">Fecha: 20-08-2014</p>
					</div>
				</div>
			</div>
		</section>
			
		<section id="body">
			<div class="container">
				<h2>Clase 1 - Introducción</h2>

				<h3>Presentaciones y Reviews</h3>

				<div class="row">
					<div class="col-md-6">
						<ul>
							<li>
								Reviews
								<ul>
									<li>Algo corto de una plana, un parrafo con la idea central.</li>
									<li>Listas de pro y contras.</li>
									<li>Dudas, preguntas, criticas, etc.</li>
									<li>Comentarios sobre los experimentos hablados en el paper.</li>
									<li>Debe ser en Inglés</li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul>
							<li>
								Presentaciones
								<ul>
									<li>Tipicamente 20 slides.</li>
									<li>2-3 de motivación.</li>
									<li>1-2 de trasfondo/teoría.</li>
									<li>6-7 sides con la idea principal del paper.</li>
									<li>3-5 datos experimentales.</li>
									<li>2-3 pensamientos y criticas.</li>
									<li>Usar ejemplos, imagenes, ser preciso, recordar a la audiencia que significan los terminos claves antes de presentarlos.</li>
									<li>Llegar rápido al tema central del paper.</li>
									<li>Anticipar preguntas/respuestas que seguramente recibirán.</li>
									<li>Hablar de los autores.</li>
									<li>20 minutos de presentación.</li>
									<li>Hay que incentivar la discución.</li>
									<ul>
										<li>
											Se valuará:
											<ul>
												<li>Calidad de la presentación</li>
												<li>Comprención del contenido</li>
												<li>Discución generada</li>
											</ul>
										</li>
									</ul>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				  
				<h3>Casos de estudio</h3>
				  
				<p>http://highscalability.com - Se debe estudiar un caso de escalabilidad. Ej: Twitter, Google, Youtube.</p>

				
				<h3>Tutorial</h3>

				<p>30 minutos de explicación para usar sistemas escalables. Ej: Kafka, Memcached, Cassandra, Hadoop, Storm, MongoDB, EC2, Apache HBase, Redis.</p>

				<h3>Proyecto de investigación</h3>
				<p>Elegir problema, experimentar, soluciones, estado del arte, paper y presentación.</p>

				<div class="row">
					<div class="col-md-6">
						<ul>
							<li>Survey: 30 de septiembre
								<ul>
									<li>3 paginas, tamaño de letra 10, LATEX, template IEEE transaction.</li>
									<li>Title, abstract.</li>
									<li>Dos páginas de trabajos relacionados. 15 referencias.</li>
									<li>Motivación y problemas.</li>
									<li>Forma de abarcar el problema.</li>
									<li>Tiempo limite para lograr las metas. Gantt.</li>
								</ul>
							</li>
						</ul>		
					</div>
					<div class="col-md-6">
						<ul>
							<li>Final Paper: 7 de diciembre
								<ul>
									<li>12 páginas, tamaño de letra 10, LATEX, template IEEE transaction.</li>
									<li>Algoritmos, implementación, datos experimentales.</li>
									<li>Solución Novedosa</li>
									<li>Importancia del problema</li>
									<li>Evaluación de la solución</li>
									<li>Claridad de la presentación</li>
									<li>Ortografía, referencias.</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<section id="footer">
			<div class="container">
				<div class="panel panel-success">
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-3">
							</div>
							<div class="col-md-3">
								<%= link_to t('ramos.sde'), apuntes_sde_path, :class => "pull-right" %>
							</div>
							<div class="col-md-3">
								<a class="pull-left" href="#top"> Volver Arriba <span class="glyphicon glyphicon-arrow-up"></span></a>
							</div>
							<div class="col-md-3">
							</div>
						</div>
					</div>
					<div class="panel-heading">
						<h3 class="panel-title" align="center"> Desarrollado por Esteban Gaete Flores </h3>
					</div>
				</div>
			</div>
		</section>