		<section id="title">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1>Sistemas Distribuidos Escalables</h1>
						<p>Erika Rosas</p>
					</div>
					<div class="col-md-6">
						<p class="pull-right">Fecha: 20-08-2014</p>
					</div>
				</div>
			</div>
		</section>
			
		<section id="body">
			<div class="container">
				<h2>Clase 1 - Introducción</h2>

				<h3>Presentaciones y Reviews</h3>

				<div class="row">
					<div class="col-md-6">
						<ul>
							<li>
								Reviews
								<ul>
									<li>Algo corto de una plana, un parrafo con la idea central.</li>
									<li>Listas de pro y contras.</li>
									<li>Dudas, preguntas, criticas, etc.</li>
									<li>Comentarios sobre los experimentos hablados en el paper.</li>
									<li>Debe ser en Inglés</li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul>
							<li>
								Presentaciones
								<ul>
									<li>Tipicamente 20 slides.</li>
									<li>2-3 de motivación.</li>
									<li>1-2 de trasfondo/teoría.</li>
									<li>6-7 sides con la idea principal del paper.</li>
									<li>3-5 datos experimentales.</li>
									<li>2-3 pensamientos y criticas.</li>
									<li>Usar ejemplos, imagenes, ser preciso, recordar a la audiencia que significan los terminos claves antes de presentarlos.</li>
									<li>Llegar rápido al tema central del paper.</li>
									<li>Anticipar preguntas/respuestas que seguramente recibirán.</li>
									<li>Hablar de los autores.</li>
									<li>20 minutos de presentación.</li>
									<li>Hay que incentivar la discución.</li>
									<ul>
										<li>
											Se valuará:
											<ul>
												<li>Calidad de la presentación</li>
												<li>Comprención del contenido</li>
												<li>Discución generada</li>
											</ul>
										</li>
									</ul>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				  
				<h3>Casos de estudio</h3>
				  
				<p>http://highscalability.com - Se debe estudiar un caso de escalabilidad. Ej: Twitter, Google, Youtube.</p>

				
				<h3>Tutorial</h3>

				<p>30 minutos de explicación para usar sistemas escalables. Ej: Kafka, Memcached, Cassandra, Hadoop, Storm, MongoDB, EC2, Apache HBase, Redis.</p>

				Proyecto de investigación
				Elegir problema, experimentar, soluciones, estado del arte, paper y presentación.

					Survey: 30 de septiembre.
					3 paginas, tamaño de letra 10, LATEX, template IEEE transaction.
					Title, abstract.
					Dos páginas de trabajos relacionados. 15 referencias.
					Motivación y problemas.
					Forma de abarcar el problema.
					tiempo limite para lograr las metas. Gantt.

					Final Paper: 7 de diciembre.
					12 páginas, tamaño de letra 10, LATEX, template IEEE transaction.
					Algoritmos, implementación, datos experimentales.
					Novelty of solution**
					Importancia del problema
					Evaluación de la solución
					Claridad de la presentación
					Ortografía, referencias.
			</div>
		</section>