		<section id="title">
			<div class="container">
				<h1>Sistemas Distribuidos Escalables</h1>
				<p>erika.rosas@usach.cl</p>
			</div>
		</section>
			
		<section id="body">
			<div class="container">
				<h2>Clase 1</h2>
				<p></p>
				Horario de oficina: Martes y Jueves de 14 - 15hrs

				*Miécoles 11:20 Taller de LATEX

				Buscar un Paper sobre un tema de interes.

				Presentaciones y Reviews

				Review: Algo corto de una plana, un parrafo con la idea central.
				Listas de pro y contras. Dudas, preguntas, criticas, etc. Comentarios
				sobre los experimentos hablados en el paper. En inglés.

				Presentación: Tipicamente 20 slides. 2-3 de motivación. 1-2 de trasfondo/teoría.
				6-7 sides co nla idea principal del paper. 3-5 datos experimentales. 2-3 pensamientos y criticas.
				Usar ejemplos, imagenes, ser preciso, recordar a la audiencia que significan los terminos claves antes de presentarlos.
				Llegar rápido al tema central del paper. Anticipar preguntas/respuestas que seguramente recibirán. Hablar de los autores.
				Tener cuidado con el tiempo. 20 minutos de presentación. Hay que incentivar la discución.
				- Calidad de la presentación
				- Comprención del contenido
				- Discución generada

				Casos de estudio
				- http://highscalability.com

				Revisar Twitter, Google, Youtube.

				Tutorial
				30 minutos de explicación para usar sistemas escalables

				Kafka, Memcached, Cassandra, Hadoop, Storm, MongoDB, EC2, Apache HBase, Redis.


				Proyecto de investigación
				Elegir problema, experimentar, soluciones, estado del arte, paper y presentación.

					Survey: 30 de septiembre.
					3 paginas, tamaño de letra 10, LATEX, template IEEE transaction.
					Title, abstract.
					Dos páginas de trabajos relacionados. 15 referencias.
					Motivación y problemas.
					Forma de abarcar el problema.
					tiempo limite para lograr las metas. Gantt.

					Final Paper: 7 de diciembre.
					12 páginas, tamaño de letra 10, LATEX, template IEEE transaction.
					Algoritmos, implementación, datos experimentales.
					Novelty of solution**
					Importancia del problema
					Evaluación de la solución
					Claridad de la presentación
					Ortografía, referencias.
			</div>
		</section>