		<section id="title">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1>Sistemas Distribuidos Escalables</h1>
						<p>Erika Rosas</p>
					</div>
					<div class="col-md-6">
						<p class="pull-right">Fecha: 28-08-2014</p>
					</div>
				</div>
			</div>
		</section>

		<section id="body">
			<div class="container">
				<h2>Clase 3 - Mobile Computing & P2P</h2>

				<h3>MANET: Mobile Ad-Hoc Networks</h3>

				<p><b>Limitaciones:</b> Propagación de la información. Banda Ancha y energía. Mobilidad de los Nodos (Topológía). <br>
					<b>Carecterísticas:</b> Sin infrastructuras. Uno o varios saltos de transimisión. Nodos Host-Client.</p>

				<h4>Protocolos de Routing</h4>

				<ul>
					<li>
						Pro-Active Routing
						<ul>
							<li>Usa Tablas de Ruta.</li>
							<li>
								DSDV: Destination Sequenced Distant Vector
								<ul>
									<li>Evita Loops</li>
									<li>Para redes más estáticas</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						Reactive Routing
						<ul>
							<li>Sin tablas, debe buscar la conección y el camino antes de enviar la información.</li>
							<li>DSR.</li>
							<li>
								AODV: Ad-hoc On-Demand Distance Vector
								<ul>
									<li>Usado en redes Densas</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						Geo-Routing
						<ul>
							<li>Se conocen las posiciones físicas, vecinos a un salto de distancia. Se envia el mensaje al nodo más cerca del destino físico.</li>
							<li>Tiene problemas ya que el destino más cercano (fisicamente) podría no tener conección con el receptor.</li>
						</ul>
					</li>
					<li>
						Heirarchical Routing
						<ul>
							<li>Tiene una búsqueda escalable. Usa protocolos de Clustering.</li>
							<li>Tiene uno o varios nodos lideres, se eligen cuando hay varios nodos vecinos que le entregan su información a el.</li>
						</ul>
					</li>
					<li>
						Group Comunication
						<ul>
							<li>Multicast</li>
							<li>Flooding</li>
							<li>Hace uso de Trees</li>
						</ul>
					</li>
				</ul>

				<h3>Delay Tolerant Networks (DTN)</h3>

				<p>Tolera desconecciones y grandes latencias. <br>
					Guarda la información antes de enviarla. <br>
					Usa Transportadores de mensajes. <br>
					Es oportunista con los nodos de conección cercanos que pueda encontrar. <br>
					No es útil para conecciones de tiempo real.</p>

				<h4>Protocolos de Routing</h4>

				<ul>
					<li>Epidemic: Envía información a todos los vecinos.</li>
					<li>Prophet: Usa las conecciones hechas en el pasado para realizar un calculo probabilistico de cual podría ser el mejor nodo a elegir.</li>
					<li>Spray and Wait: Eficiencia de recursos ya que determina cuantas copias de la información enviará a la red para que encuentren a su receptor.</li>
				</ul>

				<h4>Desafios de Investigación</h4>

				<p>Usar poca Energía. <br>
					Lidear con particiones de Red. <br>
					Priorisación y diversificación de mensajes.</p>


				<h3>Wireless Sensor Network</h3>

				<p>Corresponde a redes cerradas de sensores que cubren un área en particular para realizar diferentes acciones.</p>

				<h4>Protocolos de Routing y problemas asociados</h4>

				<ul>
					<li>Large Scale: Energía limitada y no recargable. No usa GPS.</li>
					<li>Flat Network: Todos los nodos con el mismo rol. Se coordinan los Nodos para saber hacia donde y hacia que nodo deben enviar la información.</li>
					<li>
						Hierarchical Routing: Se divide la red en dos niveles
						<ul>
							<li>Nivel Alto: Agrega y maneja la información.</li>
							<li>Nivel Bajo: Propaga la información.</li>
						</ul>
					</li>
					<li>Location-based: Se necesita hardware externo para conocer las posiciones de los nodos en todo momento.</li>
					<li>DECROP: Elige un nodo Header según los N vecinos que le envían información a él. </li>
					<li>LEACH: Los headers del cluster van rotando aleatoreamente tras un tiempo definido.</li>
					<li>Tributaries and Deltas: Usa la logica de Árboles y Multipath. Considerando que tiene fallas peligrosas y gasta mucha energía, respectivamente.</li>
					<li>ONCP: Off Network Control Processing</li>
				</ul>

				<h3>Redes P2P</h3>

				<p>Se comparten los recursos, además todos los nodos son Host-Client. Se auto-organizan. Es Descentralizado, tolerante a fallas y escalable. <br>
					Las conecciones son a nivel lógico, lo que permite tener redes P2P estructuradas y no estructuradas.</p>

			</div>
		</section>

		<section id="footer">
			<div class="container">
				<div class="panel panel-success">
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-3">
								<%= link_to apuntes_sde_sde_c1_path, :class => "pull-left" do %>
									<span class="glyphicon glyphicon-arrow-left"></span> Clase 1 - Introducción
								<% end %>
							</div>
							<div class="col-md-3">
								<%= link_to "Sistemas Distribuidos Escalables", apuntes_sde_path, :class => "pull-right" %>
							</div>
							<div class="col-md-3">
								<a class="pull-left" href="#top"> Volver Arriba <span class="glyphicon glyphicon-arrow-up"></span></a>
							</div>
							<div class="col-md-3">
							</div>
						</div>
					</div>
					<div class="panel-heading">
						<h3 class="panel-title" align="center"> Desarrollado por Esteban Gaete Flores </h3>
					</div>
				</div>
			</div>
		</section>